footer{
    background-color: $bleu;

    .text-muted{
        color: $gris !important;
    }

    .kirola{
        font-weight: 900;
        text-transform: uppercase;
        color: black;
        font-family: 'Nixie One', cursive;
    }

    .kirola-footer-img{
        height: 95px;
        width: auto;
    }

    @include md{
        .text-left{
            padding-left: 0;

            li{
                text-align: center;
            }
        }
    }

    @include xs{
        .fas {
            display: none;
        }
    }
}

path{
    fill: $bleu;    
}

.copyright{
    margin-top: 3rem;
    
    p{
        text-align: center;
        margin: 0;
        font-size: 1.1rem;
        color: $gris;
    }

    .dev{
        font-size: 1.1rem;
        color: black;

        &:hover{
        text-decoration: underline;
        font-weight: bold;
        }
    }

    .dev-img{
        height: 20px;
        border-radius: 50%;
        margin-left: 0.5rem;
        filter: brightness(150%) contrast(125%);
    }
}



/* GO TO TOP-PAGE */
.arrow-active{
    display: block !important;
}

.gototop{
    display: none;
    scroll-behavior: smooth;
    right: 5px;
    bottom: 75px;
    opacity: .8;
    color: white;
    z-index: 9999;
    position: fixed;
    font-size: 2rem;
    cursor: pointer;
    background: #777;
    padding: 12px 0 0;
    text-align: center;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    -webkit-font-smoothing: antialiased;

    &:hover{
        opacity: 0.5;
        transition: opacity 0s ease;
    }

    #back-top{
        display: inline;

        i{
            font-size: 2.2rem;
            color: white
        }
    }
}

@include xs {
    .gototop{
        display: none !important;
    }
}